<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gl_smart_lights.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>B18FE660EAC3FB8D558FCCE4226D2DB77486A6D0</string>
				<key>dateExpires</key>
				<string>2023/5/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B18FE660EAC3FB8D558FCCE4226D2DB77486A6D0</string>
						<key>dateExpires</key>
						<string>2023/5/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BG9375V7F9</string>
						<key>name</key>
						<string>GL Technologies (Hong Kong) Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>B18FE660EAC3FB8D558FCCE4226D2DB77486A6D0</string>
						<key>dateExpires</key>
						<string>2023/5/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BG9375V7F9</string>
						<key>name</key>
						<string>GL Technologies (Hong Kong) Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BG9375V7F9.xyz.goodcloud.smartlights.glSmartLights</string>
				<key>com.apple.developer.team-identifier</key>
				<string>BG9375V7F9</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>244a87af-23be-4e0e-95a9-74f018d2d24b</string>
				<key>dateExpires</key>
				<string>2024/5/10</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BG9375V7F9</string>
				<key>name</key>
				<string>GL Technologies (Hong Kong) Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
